input[type="submit"] {
  line-height: 1.15;
  font-family: "Muli";
  background-color: transparent;
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}

  input[type="submit"]:hover {
    font-family: "Muli";
    font-size: 0.8rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
   
    color: white;
    background-color:lightgreen;
   
    width: 100%;
  
    position: relative;
    
  }
