<table class="styled-table">
  <thead>
    <tr>
      <th>BookingID</th>
      <th>Email</th>
      <th>ContactNumber</th>
      <th>ResidentialAddress</th>
      <th>DateofTravel</th>
      <th>NumberofAdults</th>
      <th>NumberofChildren</th>
      <th>TotalPrice</th>
      <th>Status</th>
      <th></th>

    </tr>
  </thead>
 
  <tbody>
    <ng-container *ngFor="let b of book">
      <tr *ngIf="b.bookingId!==book1.bookingId">
        <th>{{b.bookingId*100}}</th>
        <th>{{b.email}}</th>
        <th>{{b.contactNumber}}</th>
        <th>{{b.residentialAddress}}</th>
        <th>{{b.dateofTravel}}</th>
        <th>{{b.numberofAdults}}</th>
        <th>{{b.numberofChildren}}</th>
        <th>{{b.numberofChildren*400 + b.numberofAdults*800}}</th>
        <th>{{b.bookingStatus}}</th>
        <th></th>


      </tr>
      <tr class="active-row" *ngIf="b.bookingId===book1.bookingId">
        <th>{{b.bookingId*100}}</th>
        <th>{{b.email}}</th>
        <th>{{b.contactNumber}}</th>
        <th>{{b.residentialAddress}}</th>
        <th>{{b.dateofTravel}}</th>
        <th>{{b.numberofAdults}}</th>
        <th>{{b.numberofChildren}}</th>
        <th>{{b.numberofChildren*400 + b.numberofAdults*800}}</th>
        <th><button (click)="next()">Pay</button> </th>
        <th><button (click)="delete(book1.bookingId)">Delete</button> </th>
      </tr>
      <!-- and so on... -->
    </ng-container>
  </tbody>
  
</table>

